<!--index.ejs-->







<!-- <div class="row">
    <% persons.forEach( function(model) { %>

        <div class="card col-6">

            <a href="/person/view/<%= model.id %>">
                <%=model.EventName %>
            </a>
            <div class="row">
                <div class="card col-6">
                    <img src="<%= model.IamgeURL %>" style="width:100%">
                    
                </div>
                <div class="card col-6">
                        <%= model.ShortDescription %>
                    </div>
            </div>
        </div>

        <% }); %>
</div> -->

logincounter:

<script>
    document.getElementById("home").className += " active";
</script>